@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --primary-color : #1963D1;
}

a{
  text-decoration: none !important;
}

h1{
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #212529;
}

.canot-log-in-tittle{
  font-size: 24px !important;
}

input{
  background-color: transparent;
  border: 1px solid #dfe1e6;
  cursor: inherit;
  font-size: 14px !important;
  padding: 8px 6px;
  border-radius: 3px;
  width: 100%;
  color: #091e42;
  outline-color: rgb(0 82 204 / 60%);
  font-weight: 500;
}

button{
  background-color: #1963D1 !important;
  text-transform: initial !important;
  font-size: 15px !important;
  font-weight: 600 !important;
}


button.link-to{
  background: transparent !important;
  border: none !important;
  font-weight: 500 !important;
  font-size: 13px !important;
  position: relative;
  top: -2px;
}

.link-to{
  color:var(--primary-color) !important ;
  font-size: 13px;
  font-weight: 500;
}

.link-to:hover{
  text-decoration: underline !important;
}

.bi-dot{
  color: var(--primary-color);
}

label{
  font-weight: 600;
  font-size: 13px;
  color: #6B778C;
}